# Copy file ini menjadi .env dan sesuaikan nilainya
TICKETMASTER_URL=
TICKETMASTER_BUTTON_TEXT=
TICKETMASTER_AUTO_BUY=False
TICKETMASTER_QUANTITY=1
TICKETMASTER_HEADLESS=False
TICKETMASTER_REFRESH_SECONDS=3
TICKETMASTER_MAX_ATTEMPTS=500
TICKETMASTER_OPEN_NEW_TAB=True
TICKETMASTER_NEW_SESSION=True
TICKETMASTER_USER_DATA_DIR=
